<%- include('inc/header-admin.ejs') %>
<!-- Viết code màn hình tại đây -->
<main id="main" class="main">
  <main>
    <div class="container">
      <section
        class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center"
      >
        <!-- <h1>Quản lÝ</h1>
        <h2>Bắt đầu với trang quản trị của Quản lý</h2> -->
        <h3>ADMIN</h3>
        <h4>Bắt đầu với trang quản trị của Quản Lý</h4>

        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </section>
    </div>
  </main>

  <!-- End Page Title -->
  <!-- Let's go page exmple -->
</main>

<%- include('inc/footer.ejs') %>
